container_commands:
    01-run-migration:
        command: "DOCKER_ID=`docker ps -q --filter \"ancestor=360118472363.dkr.ecr.us-west-2.amazonaws.com/laravel:latest\"`"
    02-composer_install
        command: "docker exec -i $DOCKER_ID composer install"
    03-generate_key:
        command: "docker exec -i $DOCKER_ID php artisan key:generate"