commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_laravel_deps.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      DOCKER_ID=`docker ps -q --filter 'ancestor=360118472363.dkr.ecr.us-west-2.amazonaws.com/laravel:latest'`
      docker exec -i $DOCKER_ID cp .env.example .env
      docker exec -i $DOCKER_ID composer install
      docker exec -i $DOCKER_ID php artisan key:generate
      docker exec -i $DOCKER_ID chown -R www-data:www-data ./