commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_laravel_deps.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      DOCKER_ID=`docker ps -q --filter 'ancestor=360118472363.dkr.ecr.us-west-2.amazonaws.com/laravel:latest'`
      docker exec -i $DOCKER_ID chown -R www-data:www-data ./
      docker exec -i $DOCKER_ID composer install
      docker exec -i $DOCKER_ID php artisan migrate
      docker exec -i $DOCKER_ID supervisord
      docker exec -i $DOCKER_ID supervisorctl restart all